# ====================
# 上交开源机械结构（整个文件夹不上传）
# ====================
【RM2025-串联腿步兵机器人机械结构开源】上海交通大学-交龙战队/
控制原理/

# ====================
# MATLAB / Simulink
# ====================

# Simulink 编译产物（最重要的！）
slprj/
slprj/*

# Simulink 缓存文件
*.slxc

# MATLAB 自动保存文件
*.asv
*.m~

# Simulink 编译辅助文件
*.tmw
*.dmr

# ====================
# IDE
# ====================
.idea
.vscode

# ====================
# 编译产物（C/C++）
# ====================

# 编译对象文件
*.o
*.obj
*.slo
*.lo

# 动态库
*.dll
*.so
*.dylib

# 静态库
*.lib
*.a
*.lai
*.la

# 可执行文件
*.exe
*.out
*.app

# 编译目录
build/
cmake-build*/